


.div1 {


    
}

.txt1 {
    border-style: groove;
    
    color: red;
    padding-left: 70px;
    font-size: 16px;
    
    

    


    
}

.h1 {
    border-style: groove;

    font-size: 30px;
    padding-left: 70px;
    
    
    
}

.div2 {
    text-align: center;
    border-style: groove;
}

.imgBusan {
    border-radius: 28px;
    
   
}

.txtBusan {
    font-size: 25px;
    text-align: center;
}

