* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Open Sans', sans-serif;
    width: 1500px;
    height: auto;
    margin: 48px auto;
}

.txt1 { 
    color: #E1624F;
    text-align: center;
    padding-right: 62%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px ;
    padding-top: 40px;
}

.h1 {
    font-size: 36px;
    text-align: center;
    padding-right: 57%;
    line-height: 100%;
    padding-top: 18px;  
}

.divBusan {
    padding-top: 40px;
    text-align: center;
}

.imgBusan {
    border-radius: 28px;
}

.txtBusan {
    margin: 0 auto;
    width: 75%;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    border-bottom-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 30px;
    border-color: rgba(253, 253, 253, 0.63); 
}

.amantesHistoria {
    margin: 0 auto;
    padding-top: 55px;
    font-size: 16px;
    text-align: center;
    padding-right: 58%;
    font-weight: bold;
    color: #E1624F;
}

.descubraBusan {
    font-size: 32px;
    text-align: center;
    padding-right: 29%;
}

.txtBusan2 {
    font-size: 16px;
    margin-left: 190px;
    margin-right: 12%;
    margin-bottom: 3%;
}

.divHaedong {
    text-align: center;
}

.imgHaedong {
    text-align: center; 
    border-radius: 28px;
}

.subHaedong {
    font-size: 32px;
    padding-top: 10px;
    padding-right: 41%;
}

.txtHaedong  {
    padding-left: 13%;
    padding-right: 11%;
    font-size: 16px;
    text-align: left;
}

.divBeomeo {
    text-align: center;
}

.imgBeomeo {
    margin-top: 3%;
    border-radius: 28px;
}

.subBeomeo{
    margin-right: 53%;
    margin-top: 1%;
    font-size: 32px;
}

.txtBeomeo {
    font-size: 16px;
    text-align: left;
    margin-right: 12%;
    margin-left: 12%;
}

.parqueYongdusan {
    text-align: center;
    margin-top: 2%;
}

.imgParqueYongdusan {
    border-radius: 28px;
}

.subYongdusan {
    font-size: 32px;
    margin-right: 53%;
}

.txtYongdusan{
    font-size: 16px;
    margin-left: 12%;
    text-align: left;
    margin-right: 11%;
}

.txtPE {
    border-style: groove;
    font-size: 16px;
    margin-left: 11%;
    margin-right: 11%;
    text-align: center;
    margin-top: 2%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-top: 2%;
    border-color: rgba(253, 253, 253, 0.63);
}

.divCreditos {
    text-align: center;

}

.imgCreditos {
    padding-top: 3%;
}