* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "OpenSans", serif;
}

.txt1 {
    border-style: groove;
    
    color: red;
    text-align: center;
    padding-right: 42%;
    font-size: 28px;
    margin-top: 50px ;
    
    
}

.h1 {
    border-style: groove;


    font-size: 32px;
    text-align: center;
    padding-right: 46%;

    line-height: 100%;
    font-size: 36px;

        
}

.divBusan {
    text-align: center;
    border-style: groove;

}

.imgBusan {
    border-radius: 28px;
    
   
}

.txtBusan {
    font-size: 23px;
    text-align: center;
    border-style: groove;
}

